.image
{
    /* height: 200px;
    width: 500px; */
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}


img
{
    width: 350px;
}


body {
    background-color: rgb(225, 212, 187);
}

.bg
{
    position: absolute;
    top: 76%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bg img
{
 width: 700px;   
}


.bamboo
{
    position: absolute;
    top: 46.1%;
    left: 88%;
    transform: translate(-50%, -50%);

}
 .bamboo img
{
  height: 745px;
} 
.bamboo-right
{
    position: absolute;
    top: 46.1%;
    left: 11%;
    transform: translate(-50%, -50%);

}
.bamboo-right img
{
    height: 745px;


}



.social
{

    /* border: solid; */
    /* border-radius: 10%; */
    height: 50px;
    width: 470px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    margin-right: 10px;
    padding-left: 10px;
    
}

.social a
{
 display: flex;
 justify-content: center;
 align-items: center;
 margin-right: 10px; 
 border: 2px solid rgb(175, 153, 153);
 border-radius: 60px;
 width: 60%;
 height: 60%;
 color: rgb(100, 90, 77);
 text-decoration: none;
 transition: transform 0.3s ease;
}

.social a:hover 
{
color: aliceblue;
transform: scale(1.5); */
animation: zoom 1s ease-in ;

/* transition: transform 0.3s ease;
 transform: scale(1.2); 
animation: bounce 0.6s ease infinite; |bounce|*/ 
}


  /* @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0); 
    }
    40% {
      transform: translateY(-20px);
    }
    60% {
      transform: translateY(-10px);
    }
  } */
  
